body {
    padding-top: 5rem;
}

#profilepicture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#profilepic {
    text-align: center;
}

#identification{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#profilecontainer{
    background-color: darkorange;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}