{% extends 'base.html'%}

{% block main %}

<div id="profilecontainer">
    <div id="profilepic">
        <img src="{{ url_for('static', filename='blackgirlwithglasses.jpg') }}" alt="Black girl with glasses and camera" id="profilepicture">
    </div>
    <div id="identification">
        <h2>Latoya Rhoden</h2>
        <h6>@lrjasmine</h6>
        <h6>Kingston, Jamaica</h6>
        <h6>Joined February, 2020</h6>
    </div>
</div>

<div>
    <div id="aboutme">
        <p>
            I am a smart and talented young woman who loves web design and development.
            Contact me if you would like us to woerk together on a new project.
        </p>
    </div>
    <div id="social">
        <div>
            <p>7</p>
            <p>Post</p>
        </div>
        <div>
            <p>195</p>
            <p>Following</p>
        </div>
        <div>
            <p>374</p>
            <p>Followers</p>
        </div>
    </div>
    <div id="followbtn">
        <button class="follow">Follow</button>
    </div>

</div>

{% endblock %}