{% extends 'base.html'%}

{% block main %}

<div class="profilecontainer">
    <div class="profilepic">
        <img src="{{ url_for('static', filename='blackgirlwithglasses.jpg') }}" alt="Black girl with glasses and camera" id="profilepicture">
    </div>
    <div class="identification">
        <h2>Latoya Rhoden</h2>
        <h6>@lrjasmine</h6>
        <h6>Kingston, Jamaica</h6>
        <h6>Joined {{ date }}</h6>
    </div>
</div>

<div class="socialcontainer">
    <div class="aboutme">
        <p>
            I am a smart and talented young woman who loves web design and development.
            Contact me if you would like us to work together on a new project.
        </p>
    </div>
    <div class="social">
        <div>
            <p class="socialnum">7</p>
            <p class="socialname">Post</p>
        </div>
        <div>
            <p class="socialnum">195</p>
            <p class="socialname">Following</p>
        </div>
        <div>
            <p class="socialnum">374</p>
            <p class="socialname">Followers</p>
        </div>
    </div>
    <div class="followbtn">
        <button class="follow">Follow</button>
    </div>

</div>

{% endblock %}